{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card bg-light text-dark" style="border-radius: 0.8rem; border-color: #eb4e1b; border-width: 4px;">
                <div class="card-body" style="border-radius: 0.8rem; background-color: #ffffff; align-items: center; align-content: center;">
              
                    <h4 class="text-center font-weight-light my-4" style="padding: 0ch; margin: 0ch;"><b>Agregar Contenido a la Orden</b></h4>
                    <h6 class="font-weight-light my-4" style="padding: 0ch; margin: 0ch;"><b>Mesa:</b> {{ orden.mesa}} - {{ orden.fechaHora}}</h6>
                    <h6 class="font-weight-light my-4" style="padding: 0ch; margin: 0ch;"><b>Total Actual:</b> ${{ orden.total}}</h6>
                    <div class="table-responsive p-0">

                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th align="center">Nombre</th>
                                    <th align="center">Precio</th>
                                    <th align="center">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for co in currContent %}
                                    {% if co.nuevo == 1 %}
                                    <tr style="background-color: #ffa384;">
                                    {% else %}
                                    <tr>
                                    {% endif %}
                                        <td>
                                            <h6>{{co.nombre}}</h6>
                                        </td>
                                        <td align="center">
                                            <h6 c>${{co.precio}}</h6>
                                        </td>
                                        <td align="center">
                                            <h6>X {{co.cantidad}}</h6>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <form action="" method="post">
 
                        {%csrf_token%}

                        <div class="ms-md-auto pe-md-3 d-flex align-items-center" style="vertical-align: middle;">
                            <div class="input-group input-group-outline">
                                <select id="menuSelect" class="form-select-lg">
                                    <option value="nada">------- Contenido ------- </option>
                                    {% for m in menu %}
                                        <option value="{{m.pk}}-{{m.tipo}}-{{m.precio}}"> {{m.nombre}} </option>
                                    {% endfor %}
                                </select> 
                                &nbsp;
                                <input type="number" id="cantInput" class="form-control"  placeholder="Cantidad" min="1" max="99">
                                &nbsp;
                                <button  type="button" class="btn btn-success" id="addButton" onclick="addElement()" style="margin: 0px;"> 
                                    <i class="fa fa-plus" aria-hidden="true" tool></i>
                                </button>
                            </div>
                        </div>


                        <input type="text" id="pedido" name="pedido">
 
                        <h4 class="text-center font-weight-light my-4" style="padding: 0ch; margin: 0ch;"><b>Contenido Nuevo</b></h4>
                        
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th align="center">Nombre</th>
                                    <th align="center">Precio</th>
                                    <th align="center">Cantidad</th>
                                    <th align="center">Quitar</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">

                            </tbody>
                        </table>

                        <br>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-danger" href="{% url 'orden_lista' %}"> Cancelar </a>
                            &nbsp;
                            &nbsp;
                            <button  type="submit" class="btn btn-success float-right"> Actualizar </button>
                        </div>
        
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.getElementById("pedido").type ="hidden"; // deshabilitar.


    var body = "";
    var ordenArr = [];

    var id = '';
    var nombre = '';
    var precio = '';
    var cantInput = '';
    var pedido = document.getElementById('pedido');
    
    var select = document.getElementById('menuSelect');
    select.addEventListener('change', function(){
        var selectedOption = this.options[select.selectedIndex];
        id = selectedOption.value.split('-')[0];
        nombre = selectedOption.text;
        precio = selectedOption.value.split('-')[2];
    });

    function addElement(){
      
        cantInput = document.getElementById("cantInput").value;
        if (nombre != '' && cantInput != '') {
            var el = {'id':id, 'nombre':nombre, 'precio':precio, 'cantidad':cantInput.toString()}

            var exist = false
            for (let i = 0; i < ordenArr.length; i++) {
                if(ordenArr[i].id == el.id){
                    exist = true
                }
            }

            if (exist == false) {
                ordenArr.push(el)
                agregarFila(el)
            }
            
        }
    }

    function agregarFila (orden) {
        var deleteBtn = '<td> <button  type="button" class="btn btn-outline-danger" onclick="quitarFila(' + orden.id + ')" style="margin: 0px;"> <i class="fa fa-minus" aria-hidden="true" tool></i> </button> </td>'

        body +='<tr> <td>'+ orden.nombre +'</td> <td align="center"> $' + orden.precio + '</td> <td align="center">' + orden.cantidad + '</td>' + deleteBtn + ' </tr> \n';
        document.getElementById('tableBody').innerHTML = body;

        document.getElementById("cantInput").value = '';
        document.getElementById('menuSelect').value = "nada";
        pedido.value = JSON.stringify(ordenArr, null, 2);
    }

    function quitarFila (id) {
        document.getElementById('tableBody').innerHTML = ''; // Vaciar el HTML
        body = '';
        var ordenArrAux = [];

        if (ordenArr.length > 0) {
            for (let i = 0; i < ordenArr.length; i++) {
                if (ordenArr[i].id != id) {
                    ordenArrAux.push(ordenArr[i]);
                }
            }

            for (let i = 0; i < ordenArrAux.length; i++) {
                if(ordenArrAux.length > 0 ){
                    var deleteBtn = '<td> <button  type="button" onclick="quitarFila(' + ordenArrAux[i].id + ')"> Eliminar </button> </td>'
                    body +='<tr> <td>'+ ordenArrAux[i].nombre +'</td> <td align="center"> $' + ordenArrAux[i].precio + '</td> <td align="center">' + ordenArrAux[i].cantidad + '</td>' + deleteBtn + '  </tr> \n';
                }
            }
        }

        ordenArr = ordenArrAux;

        document.getElementById('tableBody').innerHTML = body;
    }

</script>

{% endblock content %}