<div>
    <table class="table align-items-center mb-0">
        <tr>
            <td>
                <a class="btn btn-danger" id="btn-cerrar" onclick="return cerrar_modal()"><i class="fa fa-close "
                        aria-hidden="true"></i> </a>
            </td>
            <td align="right">
                <a class="btn btn-info" style="align-self: center;" href="{% url 'orden_agregar' orden.pk %}"><i
                        class="fa fa-plus" aria-hidden="true" tool></i> </a>
            </td>
        </tr>
    </table>
</div>

<div style="padding: 0ch; margin: 0ch;" align="center">
    <div style="padding: 0ch; margin: 0ch;">
        <h4 class="text-center font-weight-light my-4" style="padding: 0ch; margin: 0ch;">
            Orden: <b>Mesa {{ orden.mesa }}</b> - {{ orden.fechaHora}}
        </h4>
        <h4 class="text-center font-weight-light my-4" style="padding: 0ch; margin: 0ch;"><b>Total: </b>${{ orden.total }}</h4>

        <!-- <label><b>Cliente: </b> {{orden.cliente}}</label><br> -->
        <label><b>Cocina: </b> {% if orden.cocina == 1 %} Hecho {% else %} Pendiente {% endif %}</label>
        <label><b>Bebida: </b> {% if orden.bebida == 1 %} Entregada {% else %} Pendiente {% endif %}</label><br>

        <!-- <a class="btn btn-danger" id="btn-cerrar" onclick="return cerrar_modal()"><i class="fa fa-close " aria-hidden="true"></i>  Cerrar</a> -->

        <div class="card-body" align="center">
            <label><b>Contenido de la Orden</b></label>
            <div class="table-responsive p-0">

                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th align="center">Nombre</th>
                            <th align="center">Precio</th>
                            <th align="center">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for co in contOrden %}
                            {% if co.nuevo == 1 %}
                            <tr style="background-color: #ffa384;">
                            {% else %}
                            <tr>
                            {% endif %}
                                <td>
                                    <h6>{{co.nombre}}</h6>
                                </td>
                                <td align="center">
                                    <h6 c>${{co.precio}}</h6>
                                </td>
                                <td align="center">
                                    <h6>X {{co.cantidad}}</h6>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<div align="center">
    <a class="btn btn-danger" id="btn-cerrar" onclick="return cerrar_modal()"><i class="fa fa-close "
            aria-hidden="true"> Cerrar</i> </a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-info" style="align-self: center;" href="{% url 'orden_agregar' orden.pk %}"><i class="fa fa-plus" aria-hidden="true"></i>
        Agregar </a>
</div>