
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card bg-light text-dark">
                <div class="card-body" style="background-color: #b9bbc281;">
                   
                    <h2 align ="center">Registro de Elementos del Menú</h2>
                    <hr>
                    <form action="" method="post">

                        {%csrf_token%}
                        {{ form.as_p }}
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-danger" href="{% url 'menu_lista' %}"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</a>
                            &nbsp;
                            <button  type="submit" class="btn btn-success float-right"><i class="fa fa-check" aria-hidden="true"></i> Registrar</button>
                        </div>
                            

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>